.NavigationItem{
    margin:0;
    display: flex;
    width:auto;
    align-items: center;
    height: 100%;
}

.NavigationItem a {
    color:white;
    width: 100%;
    padding:16px 8px;
    fontSize: 16px;
    text-align: center;
    min-width: 80px;
    height: 100%;
    text-decoration: none;
    border-bottom:4px solid transparent;
    letter-spacing: 1px;
}

.NavigationItem a:hover,
.NavigationItem a:active,
.NavigationItem .active{
    color:white;
    background-color: #f590d2;
    text-decoration: none;
    border-bottom:4px solid #45c262;
}

@media(max-width:600px){
    .NavigationItem{
        margin:10px 0;
        box-sizing: border-box;
        display: block;
        width: 100%;
        min-width: 150px;
        height: auto;
    }
    .NavigationItem a{
        color:rgb(73, 71, 71);
        box-sizing: border-box;
        text-decoration: none;
        display: block;
        font-size: 14px;
        letter-spacing: 1px; 
    }
    
    .NavigationItem a:hover,
    .NavigationItem a:active,
    .NavigationItem .active{
        color:white;
        box-sizing: border-box;
        background-color: #f590d2;
        border-right:4px solid #40A4C8;
        border-bottom: 4px solid transparent;
    }
}